@model IEnumerable< Telos.Admin.Web.Models.ProfessorModel>

@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(Model);
}

<h2>Professor</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create", null, new { Class = "btn" })
</p>

@grid.GetHtml(tableStyle: "table table-striped table-bordered table-condensed",
              columns: grid.Columns(
                grid.Column(columnName: "CpfCode",header:"Código - CPF", format: (item) => Html.ActionLink((string)item.CpfCode.ToString(), "Details", new { id = item.CpfCode })),
                grid.Column("Nome"),
                grid.Column("Email"),
                grid.Column("Celular"),
                grid.Column("ModifiedDate","Data de Modificação", format: item => item.ModifiedDate.ToShortDateString()),
                grid.Column(null, "", format: item => @Html.ActionLink("Apagar", "Delete", new { Id = item.CpfCode }, new { Class = "btn btn-danger" })))
              )